{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

</head>
<body>
    <section class="container">
        <div class="jumbotron text-center">
            <h2 class="text-dark">To Do List</h2>
            <h5 class="text-secondary">CURD Operation</h5>
        </div>
        <div class="d-flex flex-column">
            <h3>Add Notes</h3>
            <div>
                <div class="d-flex flex-column flex-md-row" id="inputNote">
                    <div class="col-12 col-md-10">
                        <textarea class="form-control bg-light" type="text" id="inputValue" placeholder="Start typing"></textarea>
                    </div>
                    <div class="d-flex flex-row justify-content-around  justify-content-md-start">
                        <button class="btn btn-success" onclick="addNote()">Add</button>
                        <button class="btn btn-danger" onclick="resetNote()">Reset</button>
                    </div>
                </div>
                <div class="d-flex flex-column pt-3" id="listDiv">
                    <div class="d-flex text-center flex-column flex-md-row flex-lg-row  justify-content-between">
                        <div class="d-flex flex-column flex-md-row flex-lg-row justify-content-sm-center">
                            <h5 class="text-secondary" id="allListTotal">Total <span class="text-dark" id="allListTotalNumber">{{ listNotes|length }}</span></h5>
                            <h5 class="text-secondary d-none" id="starListTotal">Total <span class="text-dark" id="starListTotalNumber">{{ starListNotes|length }}</span></h5>
                            <h5 class="text-secondary d-none" id="notStarListTotal">Total <span class="text-dark" id="notStarListTotalNumber">{{ notStarListNotes|length }}</span></h5>
                            <button class="btn btn-warning mx-3" id="allNotesButton">All Notes</button>
                            <button class="btn btn-warning mx-3" id="starNotesButton">Marked Notes</button>
                            <button class="btn btn-warning mx-3" id="notStarNotesButton">Unmarked Notes</button>
                        </div>
                        <div>
                            <h5 class="text-secondary">Showing <span class="text-dark">New - Old</span></h5>
                        </div>
                    </div>

                    <!-- All Notes List -->
                    <div id="allNotesDiv">
                        {% for each in listNotes reversed %}
                        <div class="d-flex flex-sm-row flex-column bg-light px-3 my-2" style="border-left: 5px solid rgba(0, 0, 0, 0.479);">
                            <div style="
                                background-color: {{each.noteBackgroundColor}};
                                border-right: 3px solid white;
                                " class="pr-3 py-3 d-flex flex-row flex-md-column flex-lg-column justify-content-around"
                                data-allDivOne="{{each.id}}"
                                >
                                <span class="text-center">{{each.noteCreationTime}}</span>
                                <span class="text-center">{{each.noteCreationDate}}</span>
                                {% if each.noteStar is False %}
                                    <button class="ri-star-line ri-lg btn" onclick="markStar(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Add Star"></button>
                                {% else %}
                                    <button class="ri-star-fill ri-lg btn" onclick="removeStar(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Remove Star"></button>
                                {% endif %}
                                <button class="ri-mail-volume-line ri-lg btn" onclick="removeStar(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Email Reminder"></button>
                            </div>
                            <div 
                                style="background-color: {{each.noteBackgroundColor}};"
                                class="p-3 col-11" data-allDivTwo="{{each.id}}">
                                <div id="textareaDiv1">
                                    <textarea 
                                        style="
                                        {% if each.noteUnderline is True %}
                                            {% if each.noteStrikeThrough is True %}
                                                text-decoration: underline line-through;
                                            {% elif each.noteStrikeThrough is False  %}
                                                text-decoration: underline;
                                            {% endif %}
                                        {% elif each.noteStrikeThrough is True %}
                                            text-decoration: line-through;
                                        {% endif %}
                                        "
                                        class="col-12 form-control
                                            {% if each.noteBold is True %}font-weight-bold{% endif %}
                                            {% if each.noteItalic is True %}font-italic{% endif %}
                                        "
                                        id="fromAllUpdateNote{{each.id}}" onclick="textareaMax(this)">{{each.noteValue}}</textarea>
                                </div>
                                <div class="d-flex flex-row justify-content-between pt-2">
                                    <div>
                                        {% if each.noteBold is True %}
                                            <button class="ri-bold ri-lg btn bg-secondary text-white" onclick="disableBold(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Discard BOLD Effect<br>Example<br> Before: <b>This is bold</b><br>After: This is bold"></button>
                                        {% endif %}{% if each.noteBold is False %}
                                            <button class="ri-bold ri-lg btn" onclick="enableBold(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Applies BOLD Effect<br>Example<br> Before: This is bold<br>After: <b>This is bold</b>"></button>
                                        {% endif %}{% if each.noteItalic is True %}
                                            <button class="ri-italic ri-lg btn bg-secondary text-white" onclick="disableItalic(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Discard ITALIC Effect<br>Example<br> Before: <i>This is italic</i><br>After: This is italic"></button>
                                        {% endif %}{% if each.noteItalic is False %}
                                            <button class="ri-italic ri-lg btn" onclick="enableItalic(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Applies ITALIC Effect<br>Example<br> Before: This is italic<br>After: <i>This is italic</i>"></button>
                                        {% endif %}{% if each.noteUnderline is True %}
                                            <button class="ri-underline ri-lg btn bg-secondary text-white" onclick="disableUnderline(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Discard UNDERLINE Effect<br>Example<br> Before: <u>This is underline</u><br>After: This is underline"></button>
                                        {% endif %}{% if each.noteUnderline is False %}
                                            <button class="ri-underline ri-lg btn" onclick="enableUnderline(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Applies UNDERLINE Effect<br>Example<br> Before: This is underline<br>After: <u>This is underline</u>"></button>
                                        {% endif %}{% if each.noteStrikeThrough is True %}
                                            <button class="ri-strikethrough ri-lg btn bg-secondary text-white" onclick="disableStrikeThrough(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Discard STRIKE Effect<br>Example<br> Before: <strike>This is strike</strike><br>After: This is strike"></button>
                                        {% endif %}{% if each.noteStrikeThrough is False %}
                                            <button class="ri-strikethrough ri-lg btn" onclick="enableStrikeThrough(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Applies STRIKE Effect<br>Example<br> Before: This is strike<br>After: <strike>This is strike</strike>"></button>
                                        {% endif %}{% if each.noteTextColor == 'black' %}
                                            <button class="ri-brush-line ri-lg btn" onclick="enableTextColor(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Change Text Color"></button>
                                        {% endif %}{% if each.noteTextColor != 'black' %}
                                            <button class="ri-brush-line ri-lg btn bg-secondary text-white" onclick="disableTextColor(this)" value="{{each.id}}" data-toggle="tooltip" data-html="true" title="Change Text Color"></button>
                                        {% endif %}{% if each.noteBackgroundColor == 'transparent' %}
                                            <input type="color" class="ri-paint-brush-line ri-lg btn" name="bgcolor1" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" data-bgcolor1="{{each.id}}" id="bgcolorpicker1" value="#f5f5f5" data-toggle="tooltip" data-html="true" title="Change Background Color"></input>
                                        {% endif %}{% if each.noteBackgroundColor != 'transparent' %}
                                            <button type="color" class="ri-paint-brush-line ri-lg btn bg-secondary text-white" onclick="disableBackgroundColor(this)" data-id="{{each.id}}" data-toggle="tooltip" data-html="true" title="Remove Background Color"></button>
                                        {% endif %}
                                        <input type="hidden" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#f5f5f5" id="bghexcolor1"></input>
                                        <button class="ri-sort-asc ri-lg btn" onclick="minimizeTextarea1(this)" value="{{each.id}}" data-min1="{{each.id}}" data-toggle="tooltip" data-html="true" title="Minimize Text Area"></button>
                                        <button class="ri-sort-desc ri-lg btn bg-secondary text-white d-none" onclick="maximizeTextarea1(this)" value="{{each.id}}" data-max1="{{each.id}}" data-toggle="tooltip" data-html="true" title="Expand Textarea"></button>
                                    </div>
                                    <div>
                                        <button class="btn btn-success" onclick="noteUpdate1(this)" value="{{each.id}}">Update</button>
                                        <button class="btn btn-danger" onclick="noteDelete(this)" value="{{each.id}}">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Star Notes View List -->
                    <div id="starNotesDiv" class="d-none">
                        {% for star in starListNotes reversed %}
                        <div class="d-flex flex-row bg-light px-3 my-2" style="border-left: 5px solid rgba(0, 0, 0, 0.479);">
                            <div style="
                                background-color: {{star.noteBackgroundColor}};
                                border-right: 3px solid white;
                                " class="pr-3 py-3 d-flex flex-row flex-md-column flex-lg-column justify-content-around"
                                data-starDivOne="{{star.id}}"
                                >
                                <span class="text-center">{{star.noteCreationTime}}</span>
                                <span class="text-center">{{star.noteCreationDate}}</span>
                                {% if star.noteStar is False %}
                                    <button class="ri-star-line ri-lg btn" onclick="markStar(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Add Star"></button>
                                {% else %}
                                    <button class="ri-star-fill ri-lg btn" onclick="removeStar(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Remove Star"></button>
                                {% endif %}
                                <button class="ri-mail-volume-line ri-lg btn" onclick="removeStar(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Email Reminder"></button>
                            </div>
                            <div 
                                style="background-color: {{star.noteBackgroundColor}};"
                                class="p-3 col-11" data-starDivTwo="{{star.id}}">
                                <div id="textareaDiv2">
                                    <textarea 
                                        style="
                                        {% if star.noteUnderline is True %}
                                            {% if star.noteStrikeThrough is True %}
                                                text-decoration: underline line-through;
                                            {% elif star.noteStrikeThrough is False  %}
                                                text-decoration: underline;
                                            {% endif %}
                                        {% elif star.noteStrikeThrough is True %}
                                            text-decoration: line-through;
                                        {% endif %}
                                        "
                                        class="col-12 form-control
                                            {% if star.noteBold is True %}font-weight-bold{% endif %}
                                            {% if star.noteItalic is True %}font-italic{% endif %}
                                        "
                                        id="fromStarUpdateNote{{star.id}}" onclick="textareaMax(this)">{{star.noteValue}}</textarea>
                                </div>
                                <div class="d-flex flex-row justify-content-between pt-2">
                                    <div>
                                        {% if star.noteBold is True %}
                                            <button class="ri-bold ri-lg btn bg-secondary text-white" onclick="disableBold(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Discard BOLD Effect<br>Example<br> Before: <b>This is bold</b><br>After: This is bold"></button>
                                        {% endif %}{% if star.noteBold is False %}
                                            <button class="ri-bold ri-lg btn" onclick="enableBold(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Applies BOLD Effect<br>Example<br> Before: This is bold<br>After: <b>This is bold</b>"></button>
                                        {% endif %}{% if star.noteItalic is True %}
                                            <button class="ri-italic ri-lg btn bg-secondary text-white" onclick="disableItalic(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Discard ITALIC Effect<br>Example<br> Before: <i>This is italic</i><br>After: This is italic"></button>
                                        {% endif %}{% if star.noteItalic is False %}
                                            <button class="ri-italic ri-lg btn" onclick="enableItalic(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Applies ITALIC Effect<br>Example<br> Before: This is italic<br>After: <i>This is italic</i>"></button>
                                        {% endif %}{% if star.noteUnderline is True %}
                                            <button class="ri-underline ri-lg btn bg-secondary text-white" onclick="disableUnderline(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Discard UNDERLINE Effect<br>Example<br> Before: <u>This is underline</u><br>After: This is underline"></button>
                                        {% endif %}{% if star.noteUnderline is False %}
                                            <button class="ri-underline ri-lg btn" onclick="enableUnderline(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Applies UNDERLINE Effect<br>Example<br> Before: This is underline<br>After: <u>This is underline</u>"></button>
                                        {% endif %}{% if star.noteStrikeThrough is True %}
                                            <button class="ri-strikethrough ri-lg btn bg-secondary text-white" onclick="disableStrikeThrough(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Discard STRIKE Effect<br>Example<br> Before: <strike>This is strike</strike><br>After: This is strike"></button>
                                        {% endif %}{% if star.noteStrikeThrough is False %}
                                            <button class="ri-strikethrough ri-lg btn" onclick="enableStrikeThrough(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Applies STRIKE Effect<br>Example<br> Before: This is strike<br>After: <strike>This is strike</strike>"></button>
                                        {% endif %}{% if star.noteTextColor == 'black' %}
                                            <button class="ri-brush-line ri-lg btn" onclick="enableTextColor(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Change Text Color"></button>
                                        {% endif %}{% if star.noteTextColor != 'black' %}
                                            <button class="ri-brush-line ri-lg btn bg-secondary text-white" onclick="disableTextColor(this)" value="{{star.id}}" data-toggle="tooltip" data-html="true" title="Change Text Color"></button>
                                        {% endif %}{% if star.noteBackgroundColor == 'transparent' %}
                                            <input type="color" class="ri-paint-brush-line ri-lg btn" name="bgcolor2" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" data-bgcolor2="{{star.id}}" id="bgcolorpicker2" value="#f5f5f5" data-toggle="tooltip" data-html="true" title="Change Background Color"></input>
                                        {% endif %}{% if star.noteBackgroundColor != 'transparent' %}
                                            <button type="color" class="ri-paint-brush-line ri-lg btn bg-secondary text-white" onclick="disableBackgroundColor(this)" data-id="{{star.id}}" data-toggle="tooltip" data-html="true" title="Remove Background Color"></button>
                                        {% endif %}
                                        <input type="hidden" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#f5f5f5" id="bghexcolor2"></input>
                                        <button class="ri-sort-asc ri-lg btn" onclick="minimizeTextarea2(this)" value="{{star.id}}" data-min1="{{star.id}}" data-toggle="tooltip" data-html="true" title="Minimize Text Area"></button>
                                        <button class="ri-sort-desc ri-lg btn bg-secondary text-white d-none" onclick="maximizeTextarea2(this)" value="{{star.id}}" data-max1="{{star.id}}" data-toggle="tooltip" data-html="true" title="Expand Textarea"></button>
                                    </div>
                                    <div>
                                        <button class="btn btn-success" onclick="noteUpdate2(this)" value="{{star.id}}">Update</button>
                                        <button class="btn btn-danger" onclick="noteDelete(this)" value="{{star.id}}">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- notStar Notes View List -->
                    <div id="notStarNotesDiv" class="d-none">
                        {% for notstar in notStarListNotes reversed %}
                        <div class="d-flex flex-row bg-light px-3 my-2" style="border-left: 5px solid rgba(0, 0, 0, 0.479);">
                            <div style="
                                background-color: {{notstar.noteBackgroundColor}};
                                border-right: 3px solid white;
                                " class="pr-3 py-3 d-flex flex-row flex-md-column flex-lg-column justify-content-around"
                                data-notstarDivOne="{{notstar.id}}"
                                >
                                <span class="text-center">{{notstar.noteCreationTime}}</span>
                                <span class="text-center">{{notstar.noteCreationDate}}</span>
                                {% if notstar.noteStar is False %}
                                    <button class="ri-star-line ri-lg btn" onclick="markStar(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Add Star"></button>
                                {% else %}
                                    <button class="ri-star-fill ri-lg btn" onclick="removeStar(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Remove Star"></button>
                                {% endif %}
                                <button class="ri-mail-volume-line ri-lg btn" onclick="removeStar(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Email Reminder"></button>
                            </div>
                            <div 
                                style="background-color: {{notstar.noteBackgroundColor}};"
                                class="p-3 col-11" data-notstarDivTwo="{{notstar.id}}">
                                <div id="textareaDiv3">
                                    <textarea 
                                        style="min-height: 60px !important;
                                        {% if notstar.noteUnderline is True %}
                                            {% if notstar.noteStrikeThrough is True %}
                                                text-decoration: underline line-through;
                                            {% elif notstar.noteStrikeThrough is False  %}
                                                text-decoration: underline;
                                            {% endif %}
                                        {% elif notstar.noteStrikeThrough is True %}
                                            text-decoration: line-through;
                                        {% endif %}
                                        "
                                        class="col-12 form-control
                                            {% if notstar.noteBold is True %}font-weight-bold{% endif %}
                                            {% if notstar.noteItalic is True %}font-italic{% endif %}
                                        "
                                        id="fromNotStarUpdateNote{{notstar.id}}" onclick="textareaMax(this)">{{notstar.noteValue}}</textarea>
                                </div>
                                <div class="d-flex flex-row justify-content-between pt-2">
                                    <div>
                                        {% if notstar.noteBold is True %}
                                            <button class="ri-bold ri-lg btn bg-secondary text-white" onclick="disableBold(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Discard BOLD Effect<br>Example<br> Before: <b>This is bold</b><br>After: This is bold"></button>
                                        {% endif %}{% if notstar.noteBold is False %}
                                            <button class="ri-bold ri-lg btn" onclick="enableBold(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Applies BOLD Effect<br>Example<br> Before: This is bold<br>After: <b>This is bold</b>"></button>
                                        {% endif %}{% if notstar.noteItalic is True %}
                                            <button class="ri-italic ri-lg btn bg-secondary text-white" onclick="disableItalic(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Discard ITALIC Effect<br>Example<br> Before: <i>This is italic</i><br>After: This is italic"></button>
                                        {% endif %}{% if notstar.noteItalic is False %}
                                            <button class="ri-italic ri-lg btn" onclick="enableItalic(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Applies ITALIC Effect<br>Example<br> Before: This is italic<br>After: <i>This is italic</i>"></button>
                                        {% endif %}{% if notstar.noteUnderline is True %}
                                            <button class="ri-underline ri-lg btn bg-secondary text-white" onclick="disableUnderline(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Discard UNDERLINE Effect<br>Example<br> Before: <u>This is underline</u><br>After: This is underline"></button>
                                        {% endif %}{% if notstar.noteUnderline is False %}
                                            <button class="ri-underline ri-lg btn" onclick="enableUnderline(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Applies UNDERLINE Effect<br>Example<br> Before: This is underline<br>After: <u>This is underline</u>"></button>
                                        {% endif %}{% if notstar.noteStrikeThrough is True %}
                                            <button class="ri-strikethrough ri-lg btn bg-secondary text-white" onclick="disableStrikeThrough(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Discard STRIKE Effect<br>Example<br> Before: <strike>This is strike</strike><br>After: This is strike"></button>
                                        {% endif %}{% if notstar.noteStrikeThrough is False %}
                                            <button class="ri-strikethrough ri-lg btn" onclick="enableStrikeThrough(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Applies STRIKE Effect<br>Example<br> Before: This is strike<br>After: <strike>This is strike</strike>"></button>
                                        {% endif %}{% if notstar.noteTextColor == 'black' %}
                                            <button class="ri-brush-line ri-lg btn" onclick="disableTextColor(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Change Text Color"></button>
                                        {% endif %}{% if notstar.noteTextColor != 'black' %}
                                            <button class="ri-brush-line ri-lg btn bg-secondary text-white" onclick="enableTextColor(this)" value="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Change Text Color"></button>
                                        {% endif %}{% if notstar.noteBackgroundColor == 'transparent' %}
                                            <input type="color" class="ri-paint-brush-line ri-lg btn" name="bgcolor3" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" data-bgcolor3="{{notstar.id}}" id="bgcolorpicker3" value="#f5f5f5" data-toggle="tooltip" data-html="true" title="Change Background Color"></input>
                                        {% endif %}{% if notstar.noteBackgroundColor != 'transparent' %}
                                            <button class="ri-paint-brush-line ri-lg btn bg-secondary text-white" onclick="disableBackgroundColor(this)" data-id="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Remove Background Color"></button>
                                        {% endif %}
                                        <input type="hidden" pattern="^#+([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$" value="#f5f5f5" id="bghexcolor3"></input>
                                        <button class="ri-sort-asc ri-lg btn" onclick="minimizeTextarea3(this)" value="{{notstar.id}}" data-min1="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Minimize Text Area"></button>
                                        <button class="ri-sort-desc ri-lg btn bg-secondary text-white d-none" onclick="maximizeTextarea3(this)" value="{{notstar.id}}" data-max1="{{notstar.id}}" data-toggle="tooltip" data-html="true" title="Expand Textarea"></button>
                                    </div>
                                    <div>
                                        <button class="btn btn-success" onclick="noteUpdate3(this)" value="{{notstar.id}}">Update</button>
                                        <button class="btn btn-danger" onclick="noteDelete(this)" value="{{notstar.id}}">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    // Notes Filters Buttons
    // Star Notes View Button
    $("#allNotesButton").click(function(){
        $("#allListTotal").removeClass('d-none');
        $("#starListTotal").addClass('d-none');
        $("#notStarListTotal").addClass('d-none');
        $("#allNotesDiv").removeClass('d-none');
        $("#starNotesDiv").addClass('d-none');
        $("#notStarNotesDiv").addClass('d-none');
        $('#textareaDiv1>textarea').autoHeight();
    });
    // Star Notes View Button
    $("#starNotesButton").click(function(){
        $("#allListTotal").addClass('d-none');
        $("#starListTotal").removeClass('d-none');
        $("#notStarListTotal").addClass('d-none');
        $("#allNotesDiv").addClass('d-none');
        $("#starNotesDiv").removeClass('d-none');
        $("#notStarNotesDiv").addClass('d-none');
        $('#textareaDiv2>textarea').autoHeight();
    });
    // Star Notes View Button
    $("#notStarNotesButton").click(function(){
        $("#allListTotal").addClass('d-none');
        $("#starListTotal").addClass('d-none');
        $("#notStarListTotal").removeClass('d-none');
        $("#allNotesDiv").addClass('d-none');
        $("#starNotesDiv").addClass('d-none');
        $("#notStarNotesDiv").removeClass('d-none');
        $('#textareaDiv3>textarea').autoHeight();
    });

    // Reset Note
    function resetNote(){
        $('input[name="noteValue"]').val('');
        $('#inputNote').load(' #inputNote > *');
    }

    // Action Buttons
    // Mark Star Note
    function markStar(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:markStar" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $("#allListTotalNumber").load(' #allListTotalNumber');
            $("#starListTotalNumber").load(' #starListTotalNumber');
            $("#notStarListTotalNumber").load(' #notStarListTotalNumber');
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }
    // Remove Star Note
    function removeStar(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:removeStar" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $("#allListTotalNumber").load(' #allListTotalNumber');
            $("#starListTotalNumber").load(' #starListTotalNumber');
            $("#notStarListTotalNumber").load(' #notStarListTotalNumber');
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }

    // Common buttons
    // Bootstrap Toolpit function
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    // Bold Enable
    function enableBold(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:enableBold" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }
    // Bold Disable
    function disableBold(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:disableBold" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }
    // Italic Enable
    function enableItalic(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:enableItalic" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }
    // Bold Disable
    function disableItalic(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:disableItalic" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }
    // Underline Enable
    function enableUnderline(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:enableUnderline" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }
    // Underline Disable
    function disableUnderline(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:disableUnderline" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }
    // Strike Through Enable
    function enableStrikeThrough(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:enableStrikeThrough" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }
    // Strike Through Disable
    function disableStrikeThrough(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:disableStrikeThrough" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }
    // Background Colour Disable
    function disableBackgroundColor(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:disableBackgroundColor" %}',
          data:{
              noteID: e.getAttribute('data-id'),
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }
    // Minimize text area
    function minimizeTextarea1(e){
        $('[data-min1='+e.value+']').addClass('d-none');
        $('[data-max1='+e.value+']').removeClass('d-none');
        $('#fromAllUpdateNote'+e.value).attr("style", "");
        $('#fromAllUpdateNote'+e.value).css({'height': '60px', 'overflow-y': 'scroll'});
    }    
    // Maximize text area
    function maximizeTextarea1(e){
        $('[data-min1='+e.value+']').removeClass('d-none');
        $('[data-max1='+e.value+']').addClass('d-none');
        $('#fromAllUpdateNote'+e.value).autoHeight();
    }

    // Add Note
    function addNote(){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:noteAdd" %}',
          data:{
              noteValue: $('#inputValue').val(),
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
            $('input[name="noteValue"]').val('');
            $('#inputNote').load(' #inputNote > *');
          },
        });
    }

    // Update Note
    function noteUpdate1(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:noteUpdate" %}',
          data:{
              noteValue: $('#fromAllUpdateNote'+e.value).val(),
              noteBackgroundColor: $('[data-bgcolor1='+e.value+']').val(),
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
            $(e).autoHeight();
          },
        });
    }
    function noteUpdate2(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:noteUpdate" %}',
          data:{
              noteValue: $('#fromStarUpdateNote'+e.value).val(),
              noteBackgroundColor: $('[data-bgcolor2='+e.value+']').val(),
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
            $(e).autoHeight();
          },
        });
    }
    function noteUpdate3(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:noteUpdate" %}',
          data:{
              noteValue: $('#fromNotStarUpdateNote'+e.value).val(),
              noteBackgroundColor: $('[data-bgcolor3='+e.value+']').val(),
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
            $(e).autoHeight();
          },
        });
    }

    // Delete Note
    function noteDelete(e){
        $.ajax({
          type:'POST',
          url:'{% url "todoList:noteDelete" %}',
          data:{
              noteID: e.value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            $('#allNotesDiv').load(' #allNotesDiv > *');
            $('#starNotesDiv').load(' #starNotesDiv > *');
            $('#notStarNotesDiv').load(' #notStarNotesDiv > *');
          },
        });
    }

    
    jQuery.fn.extend({
      autoHeight: function () {
        function autoHeight_(element) {
          return jQuery(element).css({
            'height': 'auto',
            'overflow-y': 'hidden'
          }).height(element.scrollHeight);
        }
        return this.each(function () {
          autoHeight_(this).on('input', function () {
            autoHeight_(this);
          });
        });
      }
    });
    $(document).ready(function (){
        $('#inputValue').autoHeight();
        $('#textareaDiv1>textarea').autoHeight();
        $('#textareaDiv2>textarea').autoHeight();
        $('#textareaDiv3>textarea').autoHeight();
    });
    function textareaMax(e){
        $(e).autoHeight();
    };

    //Background Color Pickers
    //Background Color Picker 1
    $('input[name="bgcolor1"]').on('change', function() {
	    $('#bghexcolor1').val(this.value);
        alert('Please click update to apply changes.');
        $('[data-allDivOne='+$(this).attr("data-bgcolor1")+']').attr("style", "");
        $('[data-allDivOne='+$(this).attr("data-bgcolor1")+']').css({"background-color":""+this.value+"","border-right": "3px solid white"});
        $('[data-allDivTwo='+$(this).attr("data-bgcolor1")+']').attr("style", "");
        $('[data-allDivTwo='+$(this).attr("data-bgcolor1")+']').css({"background-color":""+this.value+"","border-right": "3px solid white"});
    });
    $('#bghexcolor1').on('change', function() {
      $('#bgcolorpicker1').val(this.value);
    });
    //Background Color Picker 2
    $('input[name="bgcolor2"]').on('change', function() {
	    $('#bghexcolor2').val(this.value);
        alert('Please click update to apply changes.');
        $('[data-starDivOne='+$(this).attr("data-bgcolor2")+']').attr("style", "");
        $('[data-starDivOne='+$(this).attr("data-bgcolor2")+']').css({"background-color":""+this.value+"","border-right": "3px solid white"});
        $('[data-starDivTwo='+$(this).attr("data-bgcolor2")+']').attr("style", "");
        $('[data-starDivTwo='+$(this).attr("data-bgcolor2")+']').css({"background-color":""+this.value+"","border-right": "3px solid white"});
    });
    $('#bghexcolor2').on('change', function() {
      $('#bgcolorpicker2').val(this.value);
    });
    //Background Color Picker 3
    $('input[name="bgcolor3"]').on('change', function() {
	    $('#bghexcolor3').val(this.value);
        alert('Please click update to apply changes.');
        $('[data-notstarDivOne='+$(this).attr("data-bgcolor3")+']').attr("style", "");
        $('[data-notstarDivOne='+$(this).attr("data-bgcolor3")+']').css({"background-color":""+this.value+"","border-right": "3px solid white"});
        $('[data-notstarDivTwo='+$(this).attr("data-bgcolor3")+']').attr("style", "");
        $('[data-notstarDivTwo='+$(this).attr("data-bgcolor3")+']').css({"background-color":""+this.value+"","border-right": "3px solid white"});
    });
    $('#bghexcolor3').on('change', function() {
      $('#bgcolorpicker3').val(this.value);
    });

</script>
</html>